RewriteEngine On

# Jika file atau direktori tidak ditemukan
RewriteCond %{REQUEST_FILENAME} !-f [NC]
RewriteCond %{REQUEST_FILENAME} !-d [NC]

# Arahkan semua permintaan ke index.php
RewriteRule ^(.*)$ index.php/$1 [L,NC]
